@charset "utf-8";
/* CSS Document */

header{ 
		width:100%;
		padding-bottom:8%}

h1{ font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	margin:1%;
	padding:0.5%;
	color:#000}

nav { background-color:transparent;
		margin-top:1%;
		padding:0;
		width:100%;
		display:inline}
		
nav ul{ list-style:none;
	padding:1%;
	margin:0;}

ul li{ display:inline;
		float:left;
		margin:0% 4% 4% 0%}

ul li a{ padding:10% 4%;
		font-family:"Comic Sans MS", cursive;
		color:#000;
		text-decoration:none;
		font-size:130%}
	
ul li a:hover{ color:#C30}
ul li a:active{ color:#F60}

details{ margin:2%;
		font:"Courier New", Courier, monospace; font-size:110%}
summary{ font-family:"Courier New", Courier, monospace; font-size:110%}
img{ width:40%;
	height:10%}
section{ margin:1%}
ol{ font-size:110%; font-family:"Courier New", Courier, monospace}
.b{ font-size:110%;
	font-family:"Courier New", Courier, monospace;}
	
	@media screen and (min-width:300px) and (max-width:500px) {
	nav{ font-size:50%;
	font-family:"Courier New", Courier, monospace}
	.u{ padding-top:8%}
	ul li a { font-size:130%}
	img{ width:50%}}